p{
    background-color: rgba(137, 43, 226, 0.528);
    margin-bottom: 5px;
    color: white;
    width: 30%;
}
.p1{
    background-color: rgba(255, 0, 0, 0.567);
}
.d1{
    display: flex;
    background-color: aquamarine;
}
h1{
    background-color: rgb(17, 24, 226);
    width: 30%;
    
}
.d2{
    text-align: center;
    display: flex;
    height: 200px;
    color: white;
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 38%, rgba(19, 92, 7, 1) 63%, rgba(41, 201, 16, 1) 84%);;
}
.d3{
    text-align: center;
    display: flex;
    background-image: url(../imagem/milhor.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    
}